.product-filter {
  position: relative;
}
.product-filter__activate {
  display: flex;
  width: 245px;
  border: 2px solid #151C22;
}
.filter-activate-button {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
  background-color: transparent;
  padding: 15px;
}
.arrow {
  position: relative;
  width: 5px;
  height: 5px;
  margin-left: auto;
}
.arrow-down::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -4px;
  width: 11px;
  height: 2px;
  background-color: #151C22;
  transform: rotate(45deg);
}
.arrow-down::after {
  content: "";
  position: absolute;
  top: 3px;
  width: 11px;
  height: 2px;
  background-color: #151C22;
  transform: rotate(135deg);
}
.product-filter__option {
  display: none;
  position: absolute;
  width: 100%;
  flex-direction: column;
  background: #FFFFFF;
  border: 2px solid #151C22;
  border-top: none;
}
.product-filter__option.open {
  display: flex;
}
.option-show-button {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
  background-color: transparent;
  padding: 15px;
}
.show-filtred-product-button {
  width: 100%;
  margin-top: 40px;
  padding: 25px 0;
}
.clean-filter-button {
  width: 100%;
  padding: 25px 0;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  color: #151C22;
}
.product-option__price,
.product-option__color,
.product-option__collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #F1F2F4;
}
/* переопределение стилей Range Input */
.product-filter__option
.input-range {
  width: 210px;
  margin: 40px 0;
}
.input-range__label--min,
.input-range__label--max {
  display: none;
}
.product-filter__option
.input-range__label {
  top: 10px;
}
.product-filter__option
.input-range__label {
  font-family: "WorkSansRegular", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #151C22;
}
 