.page-header {
  position: relative;
  display: flex;
  padding: 25px 95px;
}
.page-header__menu {
  display: flex;
  max-width: 40%;
}
.page-header__menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.page-header__menu-item {
  margin-right: 35px;
  list-style: none;
}
.page-header__menu-item:last-child {
  margin: 0;
}
.page-header__menu-item > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #151C22;
}
.page-logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.page-logo > a {
  position: absolute;
  left: 50%;
  margin-left: -38px;
}
.page-header__user-option {
  display: flex;
  margin-left: auto;
}
.page-header__basket {
  margin-right: 35px;
}
.page-header__basket > a {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  font-size: 0;
  color: transparent;
  background-image: url("/img/basket.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.page-header__search-button {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  background-image: url("/img/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
}