.product-card {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  text-decoration: none;
}
.product-card:nth-child(4n) {
  margin-right: 0;
}
.product-card__img {
  width: 100%;
  margin-bottom: 25px;
}
.product-card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
  margin-bottom: 15px;
}
.product-card__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #151C22;
}
