/* --HEADER--*/
.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.main-header__content {
  display: flex;
  background-color: #f1f2f4;
  padding: 50px 90px;
}
.main-header__menu {
  display: flex;
  flex-direction: column;
}
.main-header__menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.main-header__menu-item {
  display: flex;
  margin-bottom: 30px;
  list-style: none;
}
.main-header__menu-item > a {
  height: 100%;
  text-decoration: none;
  font-family: "WorkSansRegular", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #151C22;
  align-items: center;

}
.main-header__arrow-button {
  margin-top: auto;
}
.main-header__offer {
  margin-left: 50px;
  display: flex;
}
.main-header__offer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}
.main-header__offer-slogan {
  margin: 0;
  color: #727a82;
  font-size: 18px;
  line-height: 21px;
}
.main-header__main-title {
  margin: 0;
  font-family: "Anton", "Arial", sans-serif;
  font-size: 128px;
  line-height: 170px;
  align-items: center;
  color: #151C22;
  margin-bottom: 30px;
}
.main-header__offer-button {
  width: 220px;
  height: 65px;
}
.main-header__img {
  position: relative;
  width: 530px;
  height: 520px;
}
.main-header__img > img {
  z-index: 10;
  position: absolute;
  left: 50%;
  margin-left: -215px;
}
.main-header__img::before {
  content: "";
  position: absolute;
  top: -50px;
  width: 230px;
  height: 175px;
  background-image: url("/img/diagonal-1.png");
  background-repeat: repeat;
  background-size: contain;
}
.main-header__img::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 230px;
  height: 175px;
  background-image: url("/img/diagonal-2.png");
  background-repeat: repeat;
  background-size: contain;
}
.main-header__info-block {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.main-header__info-block-option {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.main-header__basket {
  margin-bottom: 30px;
}
.main-header__basket > a {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  font-size: 0;
  color: transparent;
  background-image: url("/img/basket.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.main-header__search-button {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  background-image: url("/img/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.main-header__social {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.main-header__social > a {
  margin-bottom: 30px;
  font-family: "WorkSansRegular", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #151C22;
}
.main-header__social > a:last-child {
  margin: 0;
}
/* --MAIN-- */  
.main {
  display: flex;
  flex-direction: column;
  padding: 120px 95px;
}
/* --bestsellers-- */
.bestsellers {
  margin-bottom: 100px;
  padding-bottom: 10px;
}
.bestsellers__header {
  display: flex;
  margin-bottom: 70px;
}
.bestsellers__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
.bestsellers__button-show {
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-left: auto;
  border-bottom: 1px solid #151c22;
}
.bestsellers__product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.bestsellers__product-card {
  margin-right: 30px;
  list-style: none;
}
.bestsellers__product-card:nth-child(4n) {
  margin: 0;
}
.bestsellers__product-card__img {
  margin-bottom: 25px;

}
.bestsellers__product-card__title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
}
.bestsellers__product-card__price {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #151C22;
}
.bestsellers__product-card__price > span {
  margin-right: 5px;
}
/* --new-collection-- */
.new-collection {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  background-image: url("/img/diagonal-2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.new-collection__img {
  width: 700px;
  height: 370px;
  background-image: url("/img/new-collection.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.new-collection__content {
  padding: 70px;
  background-color: #F1F2F4;
}
.new-collection__content-text {
  margin: 0;
  margin-bottom: 20px;
  color: #727A82;
  font-size: 18px;
  line-height: 21px;
}
.new-collection__content-title {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 50px;
}
.new-collection__content-button {
  width: 200px;
  height: 64px;
}
/* --categories-- */
.categories {
  margin-bottom: 100px;
}
.categories__header {
  display: flex;
  margin-bottom: 70px;
}
.categories__title {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #151C22;
}
.categories__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.categories__card {
  list-style: none;
  display: flex;
  margin-right: 30px;
}
.categories__card:nth-child(4n) {
  margin: 0;
}
.categories__card > a {
  text-decoration: none;
}
.categories__card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
}