
/* --CATALOG BODY-- */
.page-body {
  margin: 0;
  padding: 0;
}
/* --PAGE-INFO-- */
.page-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F2F4;
}
.page-info__content {
  padding: 10px 0;
  max-width: 30%;
  margin-right: 50px;
}
.page-info__page-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.page-info__page-navigation a {
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #727A82;
}
.page-info__page-navigation a::after {
  content: "/";
  margin: 0 10px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #727A82;
}
.page-info__page-navigation a:last-child::after {
  display: none;
}
.page-info__page-navigation a:last-child {
  font-weight: 600;
  color: #151C22;
}
.page-title {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
}
.page-info__img {
  position: relative;
  width: 360px;
  height: 260px;
}
.page-info__img::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 230px;
  height: 175px;
  background-image: url("/img/diagonal-1.png");
  background-repeat: repeat;
  background-size: contain;
}
.page-info__img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
  height: 175px;
  background-image: url("/img/diagonal-2.png");
  background-repeat: repeat;
  background-size: contain;
}
.page-info__img > img {
  z-index: 10;
  position: absolute;
  left: 50%;
  margin-left: -150px;
}
/* --PAGE-PRODUCT-- */
.page-product {
  padding: 0 95px;
  padding-bottom: 50px;
}
.page-product__filter {
  display: flex;
  padding: 40px 0;
  padding-right: 24px;
  justify-content: flex-end;
}
.page-product__product-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 400px;
  margin: 0;
  padding: 0;
}
.page-product__product-card--main {
  grid-column: 3/5;
  grid-row: 2/4;
}
.page-product__product-card--main > img {
  width: 550px;
  height: 673px;
}
.page-product__product-card:nth-child(4n) {
  margin: 0;
}
.page-product__product-card__img {
  margin-bottom: 25px;

}
.page-product__product-card__title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
}
.page-product__product-card__price {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #151C22;
}
.page-product__product-card__price > span {
  margin-right: 5px;
}
.page-product__selection-output {
  display: flex;
  justify-content: center;
}
.selection-output__caption {
  font-size: 18px;
  line-height: 21px;
  color: #151C22;
  margin-bottom: 10px;
}
.selection-output__indicator {
  display: flex;
  width: 200px;
  height: 3px;
  background-color: #E5E5E5;
}
.selection-output__indicator__inner {
  height: 100%;
  width: 30%;
  background-color: #151C22;
}
.selection-output__button {
  width: 200px;
  height: 65px;
  margin: 40px 0;
}

