@import url("fonts/fonts.css");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #151C22;
  font-family: "WorkSansRegular", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #ffffff;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  margin: 0 auto;
  min-width: 1360px;
  width: 1360px;
  display: flex;
  flex-direction: column;
}
button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "WorkSansRegular", "Arial", sans-serif;
  cursor: pointer;
}
.black-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background-color: #151c22;
  color: #ffffff;
}
