@import url("fonts/fonts.css");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #151C22;
  font-family: "WorkSansRegular", "Arial", sans-serif;
  background-color: #ffffff;
}
.App {
  display: flex;
  width: 100%;
}
.container {
  margin: 0 auto;
  min-width: 1360px;
  width: 1360px;
  display: flex;
  flex-direction: column;
}
button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "WorkSansRegular", "Arial", sans-serif;
  cursor: pointer;
}